*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  }
  
  body{ 
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  }
  
  a{ 
  color: #333;
  text-decoration: none;
  font-family: 'Cinzel', serif;
  font-family: 'Cormorant Garamond', serif;
  }

  h1, h3 {
  font-family: 'Cinzel', serif;
  font-family: 'Cormorant Garamond', serif;
  }